nvidia/nvidia-opencl-examples/OpenCL/common/obj/
nvidia/nvidia-opencl-examples/OpenCL/bin/
nvidia/nvidia-opencl-examples/OpenCL/src/*/obj/
nvidia/nvidia-opencl-examples/shared/obj
*.project
*.cproject
*.pyc
*.pydevproject
configure
obj-*
autom4te.cache
autoscan.log
configure.scan
.mozconfig.out
*.sln
*.vcxproj
*.obj
*.log
*.tlog
*.idb
*.pdb
*.filters
*.lastbuildstate
*.cache
*.unsuccessfulbuild
*.user
*.opensdf
